 html, body, #map-canvas {
      height: 100%;
      margin: 0px;
      padding: 0px
    }


 div.infoWindowSmallZoom {
 	width:100px; 
 	height:20px;
 }   

 div.infoWindowErrorGeo {
 	width:400px; 
 	height:20px;
 }  
/* div.infoWindowErrorGeo {
 	width:400px; 
 	height:20px;
 }  */