
body{
  width: auto;
  margin:0;
  background: #b5bdc8; /* Old browsers */
background: -moz-linear-gradient(top, #b5bdc8 0%, #28343b 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#b5bdc8), color-stop(100%,#28343b)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #b5bdc8 0%,#28343b 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, #b5bdc8 0%,#28343b 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, #b5bdc8 0%,#28343b 100%); /* IE10+ */
background: linear-gradient(to bottom, #b5bdc8 0%,#28343b 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b5bdc8', endColorstr='#28343b',GradientType=0 ); /* IE6-9 */
}
div#mainForecastDiv{

text-align: center;
/*width:480px;*/
/*background-color: #999;*/
/*margin:0 auto;*/
color: #000B54;

}


.forecastHeader{
   width: 100%;
   font-size:28px;
   text-align: center;
}

.forecastHeader .headerLabel{
   width: 100%;
   
}



.forecastBody{
   width: 100%;
   font-size:24px;

}

.forecastBody .adBlock{
   width: 100%;
   height: 50px;
}

.forecastBody .adBlock img {
   width: 100%;
}

.forecastBody .route{
   width: 100%;
   display: table;
  margin:8px 0;
border-bottom-width:1px;
   border-bottom-style: dashed;
   border-bottom-color: #fff;
  
}

.route .routeType-cell{
  display: table-cell;
  width: 10%;
  vertical-align:middle;
  text-align:center; 
  
}

.route-cell .routeType-icon{
  width: 40px;
  height: 40px;
  display: table-cell;
  text-align:center; 
  vertical-align:middle;  
  /*background: url('../res/icon/checkmark-128.png') center no-repeat;
  background-size: contain;*/
}

.route .routeName-cell{
  display: table-cell;
  width: 15%;
  text-align:left;
  vertical-align:middle;    
}




.route .routeForecast-cell{
  display: table-cell;
  width: 70%;
  
  
}
    .routeForecast-cell .right{
  display: table-cell;
  vertical-align:middle;
  float:right;
  line-height: 40px;
}



.routeForecast-cell .right .forecast-time{
height: 40px;
text-align:right;
font-size: 24px;
display: inline-block;
margin: 0 0 0 15px;  
  

}




.forecastFooter{
   width: 100%;
   font-size:16px;
   display:table;
   cursor: pointer;
}

  .forecastFooter .right{

     font-size:16px;
     display: table-cell;
    vertical-align:middle;
    float:right;
    line-height: 30px;
  }

    .forecastFooter .right .text{
     font-size:22px;
     display: inline-block;
     margin-right:14px;
     vertical-align:top;
     

    }
    .forecastFooter .right .icon{
     display: inline-block;
     vertical-align:top;
    }

    .forecastFooter .icon img{
      width:40px;
     height:40px;
    }
